@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Jost:wght@100&display=swap');
p{
    font-family: 'Alfa Slab One', cursive;
    font-size: 50px;
}
body{
    background:#4B789F;
}
*{
    margin:0;
    padding:0;
}
nav ul{
    list-style:none;
    background:#000000;
}
nav>ul>li{
    float:left;
}
nav ul::after{
    content:"";
    display: block;
    clear: both;
}
nav ul li a{
    display:inline-block ;
    padding: 10px 20px;
    text-decoration: none;
    color:white;
    width:125px;
}
nav ul li a:hover{
    background:#A5DBE5;
}
nav ul ul{
    display: none;
    position: absolute;
}
nav ul li:hover ul{
    display: block;
}
div{
    font-size: 20px;
}
div h1{
    font-size: 50px;
    font-family: 'Jost', sans-serif;
}
.footer {
    font-weight:hold;
    background:#505050;
    min-height:30 px;
    line-height:30 px;
    border-radius:0 0 10 px 10 px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.86);
    box-shadow: 0 0 10px rgba(0,0,0,0.86);
}